@{
    Layout = "_Layout";
}
<div class="page-heading about-page-heading" id="top">
  
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>About Our Company</h2>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="~/images/images/about-left-image.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us &amp; Our Skills</h4>
                    <span>Step into a world of style and elegance at HexaShop. Founded with a commitment to quality and a passion for fashion, we curate a collection of clothing that celebrates individuality and timeless appeal. From everyday essentials to statement pieces, each item is selected with care to ensure you find something that not only fits your wardrobe but also your lifestyle. Join us in exploring the art of dressing well and discover how [Your Shop Name] can elevate your wardrobe effortlessly..</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>At HexaShop, we believe in clothing that speaks volumes. Discover fashion that inspires confidence and reflects your unique personality.</p>
                    </div>
                    
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
<!-- ***** Our Team Area Starts ***** -->
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Amazing Team</h2>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="~/images/images/team-member-01.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar Lodbrok</h4>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="~/images/images/team-member-02.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar Lodbrok</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="~/images/images/team-member-03.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar Lodbrok</h4>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area Ends ***** -->
<!-- ***** Services Area Starts ***** -->
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Services</h2>
                  
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Fast Shipping</h4>
                    <p>
                        Experience prompt and reliable delivery for your orders, ensuring they reach you quickly and securely.


                    </p>
                    <img src="~/images/images/service-01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Quality Guarantee</h4>
                    <p>We stand behind our products with a commitment to high standards, offering easy exchanges or refunds if needed.</p>
                    <img src="~/images/images/service-02.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4> Customer Service</h4>
                    <p>Our team is here to provide responsive and helpful assistance for all your inquiries and needs..</p>
                    <img src="~/images/images/service-03.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area Ends ***** -->