@using HexaShop.Models
@model List<Cart>
@{
    ViewData["Title"] = "Cart Page";
    float total = 0;
}


<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0">Shopping Cart</h3>
                    
                </div>
                @foreach (var cart in Model)
                {


                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="~/images/newImages/@cart.product.ImagePath"
                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@cart.product.Name</p>
                                    <p><span class="text-muted">Price: </span>$@cart.product.Price.ToString("0.00") </p>

                                </div>

                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                
                                    <input class="Quantity" min="0" max="20"  type="number" asp-for="@cart.Quantity"
                                    class="form-control form-control-sm" />
                                    <input class="CartId" type="hidden" asp-for="@cart.Id">

                                 
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">$@(cart.product.Price*cart.Quantity)</h5>
                                    
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a asp-action="RemoveProduct" asp-route-id="@cart.ProductId" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    total += (cart.product.Price * cart.Quantity);

                }



                <div class="d-flex justify-content-between p-2 mb-2 bg-white text-dark">
                    <h5 class="fw-bold mb-0">Total:</h5>
                    <h5 class="fw-bold mb-0">$@total</h5>
                </div>

             
                <div class="card">
                    <div class="card-body p-0">
                       
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning w-100 btn-lg text-white">Proceed to Pay</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
<script>
    const QuantityInput = document.querySelectorAll('.Quantity');
    const IdInput = document.querySelectorAll('.CartId');
    console.log(QuantityInput)
    QuantityInput.forEach((e, i) => {
        console.log(e)
        e.addEventListener("change", () => {
            var quantity = parseInt(e.value)
            var Id = parseInt(IdInput[i].value)
            const url = `/Products/UpdateQuantity?quantity=${quantity}&id=${Id}`;
            window.location.href = url;
        })
    })


</script>