<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myshop.styles.css" asp-append-version="true" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/css/DashBoardStyle/style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <a href="index.html" class="logo">
            <img src="~/images/images/logo.png" alt="Logo">
        </a>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                      <a  asp-action="Index">  <span class="link-name"> Dahsboard</span></a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-files-landscapes"></i>
                      <a  asp-action="AddProduct"> <span class="link-name"> Add Product</span></a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-chart"></i>
                      <a  asp-action="ViewProduct"> <span class="link-name">View Product</span></a>
                    </a>
                </li>
               
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

           

            <img src="images/profile.jpg" alt="">
        </div>
        <div class="dash-content">
            @RenderBody()
        </div>

    </section>

    <script src="~/js/DashBoardScripts/script.js"></script>
</body>
</html>